*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

body main {
  font-size: 14px;
}

.container {
  max-width: 768px;
  min-width: 320px;
  margin: 0 auto;
  height: 100%;
}

.header-footer {
  width: 100%;
  height: 90px;
  background-color: #C4C4C4;
}

.header-footer p {
  height: 100%;
  margin: 0;
  padding: 35px;
  text-align: center;
  font-size: 24px;
}

header {
  margin-bottom: 10px;
}

footer {
  margin-top: 10px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

@media (min-width: 480px) {
  main {
    margin: 0 10px;
  }
  main * {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .about_us {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main .poesy {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.about_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about_us p {
  word-wrap: break-word;
  margin-right: 10%;
  position: absolute;
  bottom: 0;
}

.about_us .base {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  gap: 10px;
  margin-bottom: 10px;
}

.about_us .base .base_item {
  background-color: #E8EBED;
  height: 155px;
  padding: 15px;
  position: relative;
}

.about_us .base .formation {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.about_us .second {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_us .second .second_item {
  max-width: calc(50%-10px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 155px;
  padding: 15px;
  position: relative;
}

.about_us .second .intro {
  background-color: #90BCE8;
  margin-right: 5px;
}

.about_us .second .staff {
  background-color: #FEBF26;
  margin-left: 5px;
}

@media (min-width: 480px) {
  .about_us {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
  }
  .about_us .base {
    margin-bottom: 0px;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    max-width: 65.7%;
  }
  .about_us .second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .about_us .second .intro {
    margin-right: 0px;
  }
  .about_us .second .staff {
    margin-left: 0px;
  }
}

.poesy {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.poesy .poesy-item {
  background-color: #A2A9B7;
  color: white;
  line-height: 1.5;
  padding: 2vh;
}

.poesy .quote {
  padding: 3vh 4vh 5vh 2vh;
  overflow: auto;
  text-align: center;
  font-size: 18px;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  max-height: 66.6666vw;
  min-height: calc(320px*0.675);
}

.poesy .think,
.poesy .name {
  position: relative;
  padding-top: 50%;
  padding-bottom: 50%;
}

.poesy .think p,
.poesy .name p {
  word-wrap: break-word;
  position: absolute;
  margin-right: 10%;
  bottom: 0;
}

.temp {
  display: none;
  /* media*/
}

@media (min-width: 480px) {
  .temp {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    gap: 10px;
    /*temp2*/
    /*temp3*/
    /*hover*/
  }
  .temp .temp_item {
    background-color: #E3EBD3;
    line-height: 1.5;
    padding: 2vh;
  }
  .temp .temp2 {
    padding: 3vh 4vh 5vh 2vh;
    overflow: auto;
    text-align: center;
    font-size: 18px;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    max-height: 66.6666vw;
    min-height: calc(320px*0.675);
  }
  .temp .temp2 p {
    overflow: hidden;
  }
  .temp .temp2 p:after {
    content: '..................................................';
    display: block;
    white-space: nowrap;
    overflow: hidden;
  }
  .temp .temp2 p span:first-of-type {
    float: left;
    margin-right: 10px;
  }
  .temp .temp2 p span:last-of-type {
    float: right;
    margin-left: 10px;
  }
  .temp .temp2 .first {
    width: 30%;
    text-align: left;
  }
  .temp .temp2 .last {
    text-align: right;
  }
  .temp .temp1 {
    position: relative;
    padding-top: 50%;
    padding-bottom: 50%;
  }
  .temp .temp1 p {
    word-wrap: break-word;
    position: absolute;
    margin-right: 10%;
    bottom: 0;
  }
  .temp .temp3 {
    position: relative;
    padding-top: 50%;
    padding-bottom: 50%;
    overflow: hidden;
    background-color: rgba(141, 179, 218, 0);
  }
  .temp .temp3 .hover {
    position: absolute;
    opacity: 0;
    background: white;
    border-radius: 50%;
    font-size: 36px;
    color: red;
    text-align: center;
    width: 60px;
    margin: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .temp .temp3 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
    z-index: -5;
  }
  .temp .temp3 p {
    word-wrap: break-word;
    position: absolute;
    bottom: 0;
    color: white;
  }
  .temp .temp3:hover {
    cursor: pointer;
    background-color: rgba(151, 190, 229, 0.5);
  }
  .temp .temp3:hover .hover {
    opacity: 1;
  }
  .temp .temp3:hover iframe {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
}

/*temp*/
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info p {
  word-wrap: break-word;
  margin-right: 10%;
  position: absolute;
  bottom: 0;
}

.info .info1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  gap: 10px;
  margin-bottom: 10px;
}

.info .info1 .info1_item {
  background-color: #FFAA87;
  height: 155px;
  padding: 15px;
  position: relative;
}

.info .info1 .but {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  grid-column-end: 3;
}

.info .info1 .length {
  background-color: #C7ABD4;
}

.info .info2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info .info2 .info2_item {
  max-width: calc(50%-10px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 155px;
  padding: 15px;
  position: relative;
}

.info .info2 .leader {
  background-color: #FFAA87;
  margin-right: 5px;
}

.info .info2 .genius {
  background-color: #F55E62;
  margin-left: 5px;
}

@media (min-width: 480px) {
  .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
  }
  .info .info1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 0px;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    max-width: 65.7%;
  }
  .info .info2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .info .info2 .leader {
    margin-right: 0px;
  }
  .info .info2 .genius {
    margin-left: 0px;
  }
}
/*# sourceMappingURL=Maket.css.map */