body {
    background-color: aquamarine;
    background-size: cover;

    .new{
        content: "";
        width: 200px;
        height: 3;
        border: 1px solid sandybrown;
    }

    
}

p{
    font-size: 100px;
    font-weight: bold;
    color: grey;
}

