*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;

    main {
        font-size: 14px;
    }
}

.container {
    max-width: 768px;
    min-width: 320px;
    margin: 0 auto;
    height: 100%;
}

.header-footer {
    width: 100%;
    height: 90px;
    background-color: #C4C4C4;

    p {
        height: 100%;
        margin: 0;
        padding: 35px;
        text-align: center;
        font-size: 24px;
    }
}

header {
    margin-bottom: 10px;
}

footer {
    margin-top: 10px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width: 480px) {
        margin: 0 10px;

        * {
            order: 2;
        }

        .about_us {
            order: 1;
        }

        .poesy {
            order: 0;
        }

    }
}

.about_us {
    display: flex;
    flex-direction: column;

    p {
        word-wrap: break-word;
        margin-right: 10%;
        position: absolute;
        bottom: 0;
    }

    .base {
        order: 1;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
        margin-bottom: 10px;

        .base_item {
            background-color: #E8EBED;
            height: 155px;
            padding: 15px;
            position: relative;
        }

        .formation {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    .second {
        order: 2;
        display: flex;

        .second_item {
            max-width: calc(50%-10px);
            flex-grow: 1;
            height: 155px;
            padding: 15px;
            position: relative;
        }

        .intro {
            background-color: #90BCE8;
            margin-right: 5px;
        }

        .staff {
            background-color: #FEBF26;
            margin-left: 5px;
        }

        .staff:hover{
            cursor: pointer;
        }
    }

    @media (min-width: 480px) {
        flex-direction: row;
        gap: 10px;

        .base {
            margin-bottom: 0px;
            flex-grow: 2;
            max-width: 65.7%;
        }

        .second {
            flex-direction: column;
            row-gap: 10px;
            flex-grow: 1;

            .intro {
                margin-right: 0px;
            }

            .staff {
                margin-left: 0px;
            }
        }
    }
}

.poesy {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    font-weight: lighter;

    .poesy-item {
        background-color: #A2A9B7;
        color: white;
        line-height: 1.5;
        padding: 2vh;
    }

    .quote {
        padding: 1vh 1vh 3vh 1vh;
        overflow: auto;
        text-align: center;
        font-size: 18px;
        font-weight: lighter;
        grid-row-start: 1;
        grid-row-end: 3;
        max-height: 66.6666vw;
        min-height: calc(320px*0.675);

            @media (min-width: 480px) {
                padding: 3vh 5vh 6vh 3vh;
            }
    }

    .think,
    .name {
        position: relative;
        padding-top: 50%;
        padding-bottom: 50%;

        p {
            word-wrap: break-word;
            position: absolute;
            margin-right: 10%;
            bottom: 0;
        }
    }
}

.temp {
    display: none;

    @media (min-width: 480px) {

        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(2, auto);
        gap: 10px;

        .temp_item {
            background-color: #E3EBD3;
            line-height: 1.5;
            padding: 2vh;
        }

        .temp2 {
            padding: 3vh 4vh 5vh 2vh;
            overflow: auto;
            text-align: center;
            font-size: 14px;
            grid-row-start: 1;
            grid-column-start: 2;
            grid-row-end: 3;
            grid-column-end: 3;
            max-height: 66.6666vw;
            min-height: calc(320px*0.675);

            p {
                overflow: hidden;
                white-space: nowrap;
                align-content: space-between;
            }

            p:after {
                border: black;
                content: '......................................................................';
                display: block;
                white-space: nowrap;
                overflow: hidden;
            }

            p span:first-of-type {
                float: left;
                margin-right: 10px;
            }

            p span:last-of-type {
                float: right;
                margin-left: 10px;
            }

            .first {
                text-align: left;
            }

            .last {
                text-align: right;
            }
        }

        /*temp2*/

        .temp1 {
            position: relative;
            padding-top: 50%;
            padding-bottom: 50%;

            p {
                word-wrap: break-word;
                position: absolute;
                margin-right: 10%;
                bottom: 0;
            }
        }

        .temp3 {
            position: relative;
            padding-top: 50%;
            padding-bottom: 50%;
            overflow: hidden;
            background-color: rgba(141, 179, 218, 0);

            .hover {
                position: absolute;
                opacity: 0;
                background: white;
                border-radius: 50%;
                font-size: 36px;
                color: red;
                text-align: center;
                width: 61px;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-width: 0;
                outline-width: 0;
                z-index: -5;
            }

            p {
                word-wrap: break-word;
                position: absolute;
                bottom: 0;
                color: white;
            }
        }

        /*temp3*/

        .temp3:hover {
            cursor: pointer;
            background-color: rgba(151, 190, 229, 0.5);

            .hover {
                opacity: 1;
            }

            iframe {
                filter: blur(2px);
            }
        }

        /*hover*/
    }

    /* media*/
}

/*temp*/

.info {
    display: flex;
    flex-direction: column;

    p {
        word-wrap: break-word;
        margin-right: 10%;
        position: absolute;
        bottom: 0;
    }

    .info1 {
        order: 1;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
        margin-bottom: 10px;

        .info1_item {
            background-color: #FFAA87;
            height: 155px;
            padding: 15px;
            position: relative;
        }

        .but {
            grid-column-start: 1;
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-end: 3;
        }

        .length{
            background-color: #C7ABD4;
        }
    }

    .info2 {
        order: 2;
        display: flex;

        .info2_item {
            max-width: calc(50%-10px);
            flex-grow: 1;
            height: 155px;
            padding: 15px;
            position: relative;
        }

        .leader {
            background-color: #FFAA87;
            margin-right: 5px;
        }

        .genius {
            background-color: #F55E62;
            margin-left: 5px;
        }
    }

    @media (min-width: 480px) {
        flex-direction: row;
        gap: 10px;

        .info1 {
            order: 2;
            margin-bottom: 0px;
            flex-grow: 2;
            max-width: 65.7%;
        }

        .info2 {
            order: 1;
            flex-direction: column;
            row-gap: 10px;
            flex-grow: 1;

            .leader {
                margin-right: 0px;
            }

            .genius {
                margin-left: 0px;
            }
        }
    }
} //info

.messanger{
    display: block;
    position: fixed;
    z-index: 10;
    max-width: 700px;
    min-width: 300px;
    width: 90%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 80%;

    margin: auto;
    background: url(https://lh3.googleusercontent.com/proxy/Gtbu4g9If-wmrWRcxW9d8NIllv65Lj15aZk0KJaDNBFwmAsDdR6-7lMXUdK0fQ2FDqp-A_LJfxDhF_m_AmGBv5C-JpgfvovEQMlj_yYrsWlvJfx6xE-b_ciOT_blGqQabBPPNc7if1IzPY5WbD1JUKUNFp5ui-a37j9FOf6fUBsJGehhA4LVgOnpcz8lie_59kQ0qVLGsbM62DQ-yaA44df7WbZ5Ew6NIBzLnL_mQ_NN) no-repeat;
    background-size:  auto 100%;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    nav{
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        height: 10%;
        width: 100%;
        z-index: 11;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);

        img{
            height: 50%;
            margin: 1em;
            align-self: center;
        }
    }

    .content{
        overflow: auto;
        width: 100%;
        top: 0;
        height: 75%;
        padding: 5vh 2vh;

        .icon{
            width: 47px;
            height: 47px;
            background-size: 100% auto;
            background-position: top;
        }        

        .text{
            max-width: 60%;
            align-self: center;
            background: #F1F3F5;
            border-radius: 2px;
            padding: 1vh;
        }

        .message_left{
            display: flex;
            justify-content: flex-start;
            
            div{
                margin: 1vh;
            }

            .icon{
                background-image: url(./img/left.jpg);
                // background: no-repeat;
            }
            
            .text:before{
                position: relative;
                content: '';
                border: 10px solid transparent; 
                border-top: 10px solid #F1F3F5;
                left: -20px;
                top: 5px;
                margin-right: -15px;
                z-index: -1;
            }
        }

        .message_right{
            display: flex;
            justify-content: flex-end;

            div{
                margin: 1vh;
            }

            .icon{
                background-image: url(./img/right.jpg);
            }

            .text::before{
                position: relative;
                content: '';
                border: 10px solid transparent; 
                border-top: 10px solid #F1F3F5;
                right: calc(-100% - 15px);
                top: 10px;
                margin-left: -15px;
                z-index: -1;
            }
        }

        .massage_date{
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            white-space: nowrap;
            flex-grow: 5px;
            // justify-content: center;
            // margin-left: 0;

            p{
                width: 108px;
                margin: 5px auto;
                text-align: center;
                text-shadow: 1px 2px 10px white;
                // flex:1 1 auto;
            }
            
            .left_bord{
                flex:1 1 auto;
                flex-shrink: 1;
                content: '';
                margin: 10px 10px 0 -10%;
                // display: inline-block;
                // vertical-align: middle;
                height: 1px;
                width: 100%;
                background-color: #F1F3F5;
                
            }
            .right_bord{
                flex:1 1 auto;
                flex-shrink: 1;
                content: '';
                // display: inline-block;
                // vertical-align: middle;
                height: 1px;
                width: 100%;
                margin: 10px -10% 0 10px;
                background-color: #F1F3F5;
                
            }
        }
    } /*content*/

    .input{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 25%;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

        textarea{
            display: inline-block;
            margin: 2vh 5vh 40% 2vh;
            width: 90%;
            height: 50%;
            border-radius: 5px;
            background-color: #F1F3F5;
        }

        button{
            position: absolute;
            bottom: 0;
            right: 0;
            margin: auto 10% 2vh 2vh;
            width: 20%;
            min-width: 120px;
            height: 40px;
            background-color: #0F54B9;
            border-radius: 30px;
            border-style: none;
        }

        button:active{
            border-style: groove;
            border-width: 3px;
        }
    }

    @media (min-width: 480px) {
        background-size:  100% 100%;
        button{
            right: auto;
            left: 0;
        }
        .content{
            .text{
                max-width: 76%;
            }
        }
    }

} /* messanger*/